*{
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-size: 100%;
	font-weight: 700;
	box-sizing: border-box;
	font-family: sans-serif;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
/*



background-color: #3479ba;

*/

/*****************************************************/
/*===============| HEADER |===============*/
/*****************************************************/
.header{
	width: 100%;
	background-color: #333;
}
.container{
	display: flex;
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	align-items: center;
	justify-content: space-between;
}
.container .logo{
	color: #fff;
	font-size: 2em;
}
.menu{
	display: flex;
}
.menu a{
	color: #fff;
	font: 1.5em;
	padding: 20px 10px;
	display: inline-block;
	text-transform: uppercase;
}
.menu a:hover{
	background-color: #3479ba;
}
/*****************************************************/
/*===============| BANNER |===============*/
/*****************************************************/
.banner{
	width: 100%;
	background-color: #3479ba;
}
.title h2{
	color: #fff;
	font-size: 3em;
}
.title p{
	color: #fff;
	margin: 10px 0; 
	font-size: 1.5em;
}
.title button{
	cursor: pointer;
	padding: 15px 30px;
	border-radius: 4px;
	background-color: #ffc001;
}

/*****************************************************/
/*===============| MAIN |===============*/
/*****************************************************/
.banner{
	padding: 0 10px;
}
.container2{
	display: flex;
	margin: 0 auto;
	padding: 30px 0;
	max-width: 1000px;
	align-items: center;
	align-content: center;
	flex-direction: column;
	justify-content: space-between;
}
.container2 h3{
	margin: 40px 0; 
	font-size: 1.5em;
}
.container2 img{
	padding: 5px;
}
.img{
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
}
/*****************************************************/
/*===============| FOOTER |===============*/
/*****************************************************/
.footer{
	color: #fff;
	padding: 10px;
	text-align: center;
	background-color: #3479ba;
}
@media (max-width: 720px){
	.container, .menu{
		flex-wrap: wrap;
	}
}